{% extends "base.html" %}

{% block content %}
<center><table style="text-align:center;"" border="1" width="100%" ID="Table2" style="margin: 0px;">
    <thead>
      <tr style="text-align:center;"">
        <th style="text-align:center;"">Application Name</th>
        <th style="text-align:center;"">Token</th>
        <th style="text-align:center;"">Status</th>
        <th style="text-align:center;"">calls count</th>
        <th style="text-align:center;"">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in apps.items() %}
     <tr style="text-align:center;"">
         <td style="text-align:center;""> {{ key }} </td>
         <td style="text-align:center;"">  {{ value[0] }} </td>
         {% if value[2]  == 'active' %}
         <td style="background-color: green; color: white; text-align: center;">  {{ value[2] }} </td>
         {% else %}
         <td style="background-color: red; color: white; text-align: center;">  {{ value[2] }} </td>
         {% endif %}
         <td style="text-align:center;"">  {{ value[3] }}</td>
         {% if value[2]  == 'deletion requested' %}
         <td style="text-align:center;"> <a href="{{ url_for('access.rollback_app', app_id = value[1]) }}">Rollback</a> </td>
         {% else %}
         <td style="text-align:center;"> <a href="{{ url_for('access.delete_app', app_id = value[1]) }}">Delete</a> </td>
         {% endif %}
     </tr>
    {% endfor %}
    </tbody>
  </table>
</center>
<h1 class="title">
 <div class="column is-4 is-offset-4">
    <h3 class="title">Add Application</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}<br> Go to <a href="{{ url_for('access.tokens') }}">My Apps</a>.
    </div>
        {% endif %}
         {% endwith %}
        <form method="POST" action="{{ url_for('access.tokens') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="username" name="appname" placeholder="APP Name" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">ADD</button>
        </form>
    </div>
</div>
</h1>
{% endblock %}